<div class="admin-dashboard">
  <h2>Administratora panelis</h2>

  <!-- Toggles for different sections -->
  <div class="toggles">
    <button class="btn btn-primary" (click)="toggleSection('sponsors')">Sponsori</button>
    <button class="btn btn-primary" (click)="toggleSection('scholarships')">Stipendijas</button>
    <button class="btn btn-primary" (click)="toggleSection('users')">Lietotāji</button>
  </div>

  <!-- Sponsors Section -->
  <div *ngIf="activeSection === 'sponsors'" class="section">
    <h3>Neapstiprināti Sponsori</h3>
    <div *ngIf="pendingSponsors.length; else noSponsors">
      <ul class="list-group">
        <li *ngFor="let sponsor of pendingSponsors" class="list-group-item">
          <strong>{{ sponsor.email }} ({{ sponsor.firstName }} {{ sponsor.lastName }})</strong>
          <button [routerLink]="['/user-details', sponsor._id]"class="btn btn-info btn-sm" >Skatīt detaļas</button>
          <button class="btn btn-success btn-sm" (click)="approveSponsor(sponsor._id)">Apstiprināt</button>
          <button class="btn btn-danger btn-sm" (click)="rejectSponsor(sponsor._id)">Noraidīt</button>
        </li>
      </ul>
    </div>
    <ng-template #noSponsors>
      <p>Nav sponsoru, kuri gaida apstiprinājumu.</p>
    </ng-template>
  </div>

  <!-- Scholarships Section -->
  <div *ngIf="activeSection === 'scholarships'" class="section">
    <h3>Pending Stipendijas</h3>
    <div *ngIf="pendingScholarships.length; else noScholarships">
      <ul class="list-group">
        <li *ngFor="let scholarship of pendingScholarships" class="list-group-item">
          <strong>{{ scholarship.title }}</strong>
          <button [routerLink]="['/scholarship-details', scholarship._id]"class="btn btn-info btn-sm" >Skatīt detaļas</button>
          <button class="btn btn-success btn-sm" (click)="approveScholarship(scholarship._id)">Apstiprināt</button>
          <button class="btn btn-danger btn-sm" (click)="rejectScholarship(scholarship._id)">Noraidīt</button>
        </li>
      </ul>
    </div>
    <ng-template #noScholarships>
      <p>Nav stipendiju, kuras gaida apstiprinājumu.</p>
    </ng-template>
  </div>

  <!-- Users Section -->
  <div *ngIf="activeSection === 'users'" class="section">
    <h3>Visi Lietotāji</h3>
    <div *ngFor="let user of users$ | async">
      <ul class="list-group">
        <li  class="list-group-item">
          <strong>{{ user.firstName }} {{ user.lastName }}</strong> - {{ user.role }}
          <button [routerLink]="['/user-details', user._id]"class="btn btn-info btn-sm" >Skatīt detaļas</button>

        </li>
      </ul>
    </div>
    <ng-template #noUsers>
      <p>Nav pieejamu lietotāju.</p>
    </ng-template>
  </div>
</div>
