<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" height="40" width="30" class="navbar-logo" />
      <span>Vienotā Stipendiju Sistēma</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ng-container *ngIf="loggedInUser$ | async as user">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/scholarship-list">Stipendijas</a>
          </li>
          <li class="nav-item" *ngIf="user.role === 'admin' || user.role === 'sponsor'">
            <a class="nav-link" routerLink="/scholarship-create">Izveido stipendiju</a>
          </li>
          <li class="nav-item">
            <a
              *ngIf="user.role === 'student'"
              class="nav-link"
              routerLink="/applications"
              >Pieteikumi</a
            >
            <a
              *ngIf="user.role === 'sponsor' || user.role === 'admin'"
              class="nav-link"
              routerLink="/scholarship-user/{{ user._id }}"
              >Manas stipendijas</a
            >
          </li>
          <li class="nav-item" *ngIf="user.role === 'admin'">
            <a class="nav-link" routerLink="/admin-dashboard">Admin panelis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-details/{{ user._id }}">Profils</a>
          </li>
        </ul>


        <div class="d-flex align-items-center">
          <span class="navbar-text me-3 text-light">
            Sveicināti, <strong>{{ user.firstName }} {{ user.lastName }}</strong>
          </span>
          <button class="btn btn-outline-light ms-3" (click)="logout()">Iziet</button>
        </div>
      </ng-container>

      <ng-container *ngIf="!(loggedInUser$ | async)">
        <div class="d-flex ms-auto align-items-center">
          <a class="btn btn-outline-light me-2" routerLink="/login">Pieslēgties</a>
          <a class="btn btn-light text-primary" routerLink="/register">Reģistrēties</a>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
