<div *ngIf="!isVerificationStep" class="form-container">
  <h1>Reģistrēties</h1>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="form-row">
      <label>
        Vārds:
        <input type="text" formControlName="firstName" />
      </label>
      <label>
        Uzvārds:
        <input type="text" formControlName="lastName" />
      </label>
    </div>
    <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
      Vārds ir obligāts.
    </div>
    <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">
      Uzvārds ir obligāts.
    </div>

    <div class="form-row">
      <label>
        E-pasts:
        <input type="email" formControlName="email" />
      </label>
    </div>
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      Nepieciešams derīgs e-pasts.
    </div>

    <div class="form-row">
      <label>
        Parole:
        <input type="password" formControlName="password" />
      </label>
      <label>
        Atkārtota parole:
        <input type="password" formControlName="verifyPassword" />
      </label>
    </div>
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      Parolei jābūt vismaz 6 rakstzīmju garai.
    </div>
    <div *ngIf="registerForm.get('verifyPassword')?.invalid && registerForm.get('verifyPassword')?.touched">
      Parolēm ir jāsakrīt.
    </div>

    <div class="form-row">
      <label>
        Loma:
        <select formControlName="role" (change)="onRoleChange($event)">
          <option value="student">Students</option>
          <option value="sponsor">Sponsors</option>
        </select>
      </label>
    </div>

    <div class="form-row" *ngIf="registerForm.get('role')?.value === 'student'">
      <label>
        Universitāte:
        <select formControlName="institution">
          <option *ngFor="let institution of institutions" [value]="institution">
            {{ institution }}
          </option>
        </select>
      </label>
    </div>

    <div class="form-row" *ngIf="registerForm.get('role')?.value === 'student'">
      <label>
        Studiju programma:
        <select formControlName="studyProgram">
          <option *ngFor="let program of studyPrograms" [value]="program">
            {{ program }}
          </option>
        </select>
      </label>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Reģistrēties</button>
  </form>
</div>

<div *ngIf="isVerificationStep" class="form-container">
  <h1>E-pasta Apstiprināšana</h1>
  <div class="info-message">
    Apstiprināšanas kods ir nosūtīts uz {{ userEmail }}. Lūdzu, ievadiet to zemāk, lai verificētu savu e-pastu.
  </div>
  <form [formGroup]="verificationForm" (ngSubmit)="verifyEmail()">
    <label>
      Apstiprināšanas kods:
      <input type="text" formControlName="verificationCode" />
    </label>
    <div *ngIf="verificationForm.get('verificationCode')?.invalid && verificationForm.get('verificationCode')?.touched">
      Apstiprināšanas kodam jābūt tieši 6 ciparu garam.
    </div>

    <button type="submit" [disabled]="verificationForm.invalid">Apstiprināt e-pastu</button>
  </form>
</div>
